---
import BlogPost from '../../layouts/BlogPost.astro';
import { sanityClient } from '../../../sanity.config.js';
import VideoEmbed from '../../components/VideoEmbed.astro';

export async function getStaticPaths() {
	const posts: any[] = await sanityClient.fetch(`
		*[_type == "post"] {
			"slug": slug.current,
			title,
			publishedAt,
			body,
			"imageUrl": mainImage.asset->url + "?w=1200&h=630&fit=crop&auto=format",
			videoUrl,
      "seoTitle": seo.metaTitle,
      "seoDescription": seo.metaDescription,
      "seoImage": seo.ogImage.asset->url,
      excerpt  
		}
	`);
	
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
---

<BlogPost 
	title={post.seoTitle || post.title}
	description={post.seoDescription || post.excerpt || post.title}
	pubDate={new Date(post.publishedAt)}
	heroImage={post.seoImage || post.imageUrl}
>
	<div>
		{post.body && post.body.map((block: any) => {
			if (block._type === 'block') {
				return <p>{block.children?.map((child: any) => child.text).join('')}</p>
			}
		})}
		{post.videoUrl && <VideoEmbed url={post.videoUrl} />}

	</div>
</BlogPost>