@import "./variables.css";
@import "./design-system.css";
@import "./modern-normalize.css";
@import "./components.css";

body {
  background-color: var(--color-bg);
  color: var(--color-accent);
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: var(--spacing-large) var(--spacing-base);
}

h1, h2, h3 { color: var(--color-primary); }
h1 { font-size: var(--font-size-xxl); }
h2 { font-size: var(--font-size-xl); }
h3 { font-size: var(--font-size-large); }

a { color: var(--color-accent); }
a:hover {
	text-decoration: none; 
	color: var(--color-primary-light); 
}

p { margin-bottom: var(--spacing-base); }

.card {
  background-color:  var(--color-bg);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-base);
  padding: 1rem;
  border-radius: 12px;
}


/* Media Queries */
/* ************* */
@media (max-width: 760px) {
	header .social-links {
		display: none;
	}
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
}
}
