:root {
  --purple: #532e78;
  --purple-hover: #cc99ff;
  --green: #267b31;
  --green-hover: #66BB6A;
  --background: #e0f0e0;
  --card-bg: #F5F5F7;
  --card-bg-hover: #0A0A08;
  --text-main: #1A1A1A;
  --text-muted: #E5E5E5 ;
  --border-color: #DDE0E4;
  --accent-yellow: #F4C430;
  --box-shadow-color: 0, 0, 0;
}

[data-theme="dark"] {
  --purple: #cc99ff;
  --purple-hover: #532e78;
  --green: #66BB6A;
  --green-hover: #267b31;
  --background: #302430;
  --card-bg: #0A0A08;
  --card-bg-hover: #F5F5F7;
  --text-main: #E8E8E8;
  --text-muted: #171717 ;
  --border-color: #2B2B2B;
  --accent-yellow: #F4C430;
  --box-shadow-color: 192, 192, 192;
}


body {
  background-color: var(--background);
  color: var(--text-main);
  font-family: system-ui, sans-serif;
}

h1, h2, h3 {
  color: var(--purple);
}

a {
  color: var(--green);
}

a:hover {
  color: var(--purple);
}

.card {
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: 8px;
}
