---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer class="py-8 px-4 pb-24 text-center text-gray-600" style="background: linear-gradient(var(--gray-gradient)) no-repeat;">
	<div class="pb-6">&copy; {today.getFullYear()} The Kaelin Family. All rights reserved.</div>
	<SocialLinks />
</footer>
